@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f4f4f5; 
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8; 
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; 
}

/* Selection */
::selection {
  background: #ff003d;
  color: white;
}
